<br>

    <span>Welcome to the {{ title }} application!</span><br>
<br>
<h6>Please input two numbers, one in each box then select an arithmetic method you would like to perform.</h6><br>

<!-- <input id="box1"><br> -->
<!-- <input id="box2"><br> -->
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="box1">1st Number</span>
  </div>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div><br>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="Box2" >2nd Number</span>
  </div>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" >
</div><br>
<button type="button" class="btn btn-primary" id="add" size="30">Add (+)</button>
<button type="button" class="btn btn-secondary" id="sub">Subtract (-)</button>
<button type="button" class="btn btn-success" id="mult">Multiply (X)</button>
<button type="button" class="btn btn-danger" id ="div">Divide (/) </button><br>
<br>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="results">Results</span>
  </div>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
