<br>
<div style = "text-align: center;">
      <h5>Welcome to the {{ title }} application!</h5>
</div> <br>

<div style = "text-align: center;">
<h6>Please input two numbers, one in each box, then select an arithmetic method you would like to perform.</h6><br>
</div>

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Enter 1st number:<input [(ngModel)]="box1" type="number"></span>
  </div>
 </div>
 <div class="input-group">
  <div class="input-group-prepend" >
    <span class="input-group-text">Enter 2nd number:<input [(ngModel)]="box2" type="number"></span>
  </div>
 </div>

<br>
<button (click) ="add()" type="button" class="btn btn-info">Add (+)</button>
<button (click)="subt()" type="button" class="btn btn-secondary">Subtract (-)</button>
<button (click)="mult()" type="button" class="btn btn-success">Multiply (X)</button>
<button (click)="divi()" type="button" class="btn btn-danger">Divide (/) </button><br>
<br>
<div>
 ===>Results: <input [(ngModel)]="results" size= "25"><br>
</div>

 <!-- Enter first number <input [(ngModel)]="box1" type="number"><br>
 Enter second number <input [(ngModel)]="box2" type="number"><br> -->